<!-- Footer-->
<footer class="footer py-5 bg-dark">
  <div class="container-fluid">
    <ul class="nav justify-content-center mb-4">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <p class="m-0 text-center text-white">Demo E-Commerce Application 2022</p>
  </div>
</footer>
